.titulo{font-size:30px; text-align: center;   text-decoration: underline;}
.centrado{margin-left: auto; margin-right: auto;}
.recuadroRojo {text-align:center;}
.encabezado {font-weight:bold; font-size:20px;}